:root {
  --title-font: "Arvo", serif;
  --primary-font: "Lato", sans-serif;
}

.avatar-container {
  display: grid;
  place-items: center;
  padding: 2rem;
}

.avatar-title {
  font-family: var(--title-font);
  font-size: 1.4rem;
  color: white;
  -webkit-text-stroke: 1px black;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 150px;
  height: 150px;
}

.hexagon-border-1 {
  display: grid;
  place-items: center;
  width: 160px;
  height: 160px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: white;
}

.hexagon-border-2 {
  display: grid;
  place-items: center;
  width: 170px;
  height: 170px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: black;
}

.hexagon img {
  width: 150px;
  height: 150px;
}
