:root {
    --title-font: "Arvo", serif;
    --primary-font: "Lato", sans-serif;
}

* {
    font-family: var(--title-font);
    font-weight: bold;
}

.btn-close {
    display: flex;
    justify-content: flex-end;
}

.h1-title {
    border-bottom: 4px solid;
}

#img-object-recycled {
    clip-path: none;
    height: 150px;
    border-radius: 20px;
}

.popup-corps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.text-level {
    font-size: 1.5rem;
}