:root {
    --title-font: "Arvo", serif;
    --primary-font: "Lato", sans-serif;
}

.reward-resume-list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: var(--title-font);
}