:root {
  --title-font: "Arvo", serif;
  --primary-font: "Lato", sans-serif;
}

.menu-item {
  width: 320px;
  height: 189.9px;
}

.menu-item-text {
  text-align: center;
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: 600;
}

.red {
  display: grid;
  place-items: center;
  background-image: url("../assets/img/iconRed -large.png");
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.redstroke {
  -webkit-text-stroke: 1.6px #ef6461;
}

.green {
  display: grid;
  place-items: center;
  background-image: url("../assets/img/iconGreen -large.png");
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.greenstroke {
  -webkit-text-stroke: 1.6px #629c94;
}

.gold {
  display: grid;
  place-items: center;
  background-image: url("../assets/img/iconYellow -large.png");
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.goldstroke {
  -webkit-text-stroke: 1.6px #d29839;
}
