.ProfileButton- {
  &btn {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 43px;
    height: 50px;
    background-image: url("../../assets/img/iconParams-small.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    transition: transform 0.5s;

    &:hover {
      transform: rotateZ(90deg);
    }
  }
}
