.back-button {
    position: absolute;
    top: 10px;
    margin-left: 5px;
}

.back-btn-img {
    width: 46px;
    height: 46px;
}

.btn-back {
    background-color: transparent;
    border: none;
    background-image: url("../../assets/img/back-button.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}