.switch-rewards {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.previous-button {
    background-image: url("../../assets/img/switch-left.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
}

.next-button {
    background-image: url("../../assets/img/switch-right.png");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 3rem;
    height: 3rem;
}