:root {
    --title-font: "Arvo", serif;
    --primary-font: "Lato", sans-serif;
    --text-color: #FBFBFD;
}

#my-rewards-title {
    color: var(--text-color);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.5rem;
}