.map-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.map-card-body {
  z-index: 0;

  .selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    .selectCenter {
      width: 100%;
      height: 2rem;
      border-radius: 5px;
      background-color: green;
    }
  }

  ul.popup-item {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.5rem 0;
  }

  .reward-small {
    width: 4rem;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  button {
    border-radius: 2px;
    background-color: #d29839;
    color: white;
    text-transform: uppercase;
    padding: 0.2rem 0.3rem;
  }
}
.popup-card-tacos {
  background-color: azure;
  position: relative;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  z-index: 0;
  padding-bottom: 2rem;
  text-align: center;
  .popup-button {
    color: #bbb;
    border: none;
    background-color: #555;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.3);
  }
}
