.map-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.map-card-body {
  z-index: 0;
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0.5rem 0;
  }
  .reward-small {
    width: 4rem;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}
