.setting-favourites {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  li {
    font-size: 0.8rem;
    font-weight: normal;
    padding-bottom: 1rem;
  }
}
