.dashboard {
  height: 100vh;
}

.container-avatar {
  border: 1px solid red;
  height: 25vh;
}

.container-reward {
  border: 1px solid red;
  height: 35vh;
}

.container-map {
  border: 1px solid red;
  height: 35vh;
}