* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --title-font: "Arvo", serif;
  --primary-font: "Lato", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../img/Background_Hexagon.png") 0 -50px,
    linear-gradient(#3f7984 -4.24%, #11323d 93.3%);
  background-size: cover;
}
