:root {
  --title-font: "Arvo", serif;
  --primary-font: "Lato", sans-serif;
}

.popup {
  font-family: var(--primary-font);
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 1001;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #40565a;

  .popup-card {
    background-color: azure;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    z-index: 0;

    .popup-button {
      color: #bbb;
      border: none;
      background-color: #555;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.3);
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    

    &-body {
      z-index: 0;
    }
  }
}
